main {
  padding-top: 50px;
}


.box {
  height: 400px;
  text-align: left;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
}

.navbar{
	height:100px;
	background-color: #eebb44;
	width: 100%;
	line-height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

body{
	margin:0;
	font-family: 'Roboto', sans-serif;
}

h1,header p{
	margin:0;
}

h3, main p{
	margin:10px 0 0 20px;
}

img{
	height:300px;
	width: 100%;
}

